*{
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  background-color: #ABCDEF;
}
/**/
#top{
  width: 900px;
  height: 100px;
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
  background-color: darkkhaki;
}
#content{
  width:880px;
  height: 480px;
  background-color: grey;
  margin: 0 auto;
  padding: 10px;
}
#tool{
  height: 150px;
}
#tool > li{
  float: left;
  width: 175px;
  height: 140px;
  background-color: #cccccc;
  border-right: solid 1px red;
  text-align: center;
}

#tool li .image{
  width: 100px;
  height:20px;
  text-align: left;
  list-style: square inside;
  padding: 10px;
}
.image button{
  background: gray;
  border: solid 1px #cccccc;
}
.image button:hover{
  border: solid 1px white;
}

#means, #shape {
  padding: 20px;
}

#means li button, #shape li button{
  background-color: gray;
  border:solid 1px #000;
}
#means li, #shape li{
  height: 20px; width: 40px;
  border: solid 1px grey;
  float: left;
  margin-bottom: 10px;
}
#means li:hover, #shape li:hover{
  border: solid 1px white;
}

#means img, #shape img{
  width: 20px;
  height: 20px;
}
#size li{
  height: 20px;
  width: 120px;
}
#size li:hover{
  border: solid 1px white;
}

#color {
  padding: 20px 10px;
  margin: 0 auto;
}
#color li{
  width: 25px;
  height: 25px;
  float: left;
  margin-bottom: 5px;
  margin-right: 3px;
  border: solid 1px black;
}
#color li:hover{
  border: solid 1px white;
}

#drawBoard{
  background-color: white;

}
#drawBoard:hover{
  cursor:crosshair;
}

#bottom{
  width:900px;
  height: 80px;
  background-color: red;
  margin: 0 auto;
}