<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flex</title>
  <style>
    #main{
      width:500px;
      height:1000px;
      display: flex;
      border:solid 1px black;
    }
    #main div{
      width:100px;
      height:100px;
      flex-direction: row;
      border: solid 1px darkgreen;
      flex: 1;
    }
    /*#main .item1{*/
      /*flex:3;*/
    /*}*/
    /*#main .item2{*/
      /*flex:1;*/
    /*}*/
    /*#main .item3{*/
      /*flex:2;*/
    /*}*/
  </style>
</head>
<body>
<div id="main">
  <div class="item1"></div>
  <div class="item2"></div>
  <div class="item3"></div>
</div>
</body>
<script type="text/javascript">

</script>
</html>