<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grid布局</title>
  <style>
    .grid div{
      border: solid 1px saddlebrown;
    }
    .grid{
      display: inline-grid;
      grid-template-columns: 1fr 2fr 3fr;
      grid-auto-rows:100px;
      grid-gap: 10px 20px;
    }
    .one{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end:3;
    }
  </style>
</head>
<body>

<div class="grid">
  <div class="one"><h1>one</h1></div>
  <div class="two">
    <h1>Two</h1>
  </div>
  <div class="three" style="min-height: 300px">
    <h1>Three</h1>
  </div>
  <div class="four">
    <h1>four</h1>
  </div>
  <div class="five">
    <h1>five</h1>
  </div>
  <div class="six">
    <h1>six</h1>
  </div>
  <div class="seven">
    <h1>seven</h1>
  </div>
  <div class="eight">
    <h2>eight</h2>
  </div>
</div>
</body>
<script type="text/javascript">

</script>
</html>